<h1> ADD A QUESTION </h1>

<form action="/final" method="GET">
	<input type="text" name="search" placeholder="WRITE A QUESTION">
	<button>ADD</button>
</form>
<ul>

<li> <%= temp %> </li>

</ul>
