<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div id="nav">
	<strong class="name">DISASQA</strong>
	<button><a href="/">Logout</a></button>
	<button><a href="/profile">Profile</a></button>
</div>
<div id="add">
	<form action="/final" method="GET">
	<input type="text" name="search" placeholder="WRITE A QUESTION" id="search">
	<button class="b">ADD</button>
</form>
</div>
<hr class="orange">
	<% for(var i=data.length-1;i>=0;i--){%>
		<div class="question">
		<p class="q"><strong><%= data[i].QUESTION %>?</strong></p>
		<%if(data[i].ANSWER==' '){%>
			<form action="/addanswer/<%=i%>" method="GET">
  			<input class="answer" type="text" name="answer"><br>
  			<button class="b ans">Submit</button>
			</form>
		<% } %>
		<%if(data[i].ANSWER!=' '){%>
			<p class="by"> By <strong><%= data[i].USERNAME %></strong></p>
			<p class="a"><%= data[i].ANSWER %>.</p>
		<% } %>
		</div>
	<% }; %>
</body>
</html>

