<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
	<link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>
<body>
<div id="nav">
	<strong class="name">DISASQA</strong>
</div>
<div id="back">
	<div id="form">
		<div class="con" id="head">
				Name: <br>
				Username:<br> 
				E-Mail: <br>
				Password:<br> 
			</div>
			<div class="con">
			<form action="/new" method="GET">
				<input type="text" name="name"  placeholder="Name"><br>
				<input type="text" name="username" placeholder="Username"><br>
				<input type="email" name="email" placeholder="E-Mail ID"><br>
				<input type="password" name="password" placeholder="Password"><br>
			</div>
			<button>Submit</button>
		</form>
		
	</div>
</div>
</body>
</html>